html {
  height: 100vh;
}

body {
  background-color: black;
  height: 95%;
  width: 100%;
}

table {
  margin-left: auto;
  margin-right: auto;
}

hr {
  border-color: white;
  border-style: dotted none none none;
  width: 20%;
  border-width: 7px;
}

.entryTable {
  height: 50%;
  width: 90%;
}

.operatorInputTable {
  height: 5%;
  width: 90%;
}

.numberInputTable {
  height: 40%;
  width: 90%;
}

.numberBox {
  background-color: #969696;
  text-align: center;
  font-size: 100%;
  font-weight: bold;
  width: 10%;
  height: 15%;
}

.numberInput {
  background-color: #969696;
  text-align: center;
  font-size: 100%;
  font-weight: bold;
  width: 30%;
  height: 23%;
}

.operatorBox {
  background-color: skyblue;
  text-align: center;
  font-size: 100%;
  font-weight: bold;
  width: 10%;
  height: 15%;
}

.operatorInput {
  background-color: skyblue;
  text-align: center;
  font-size: 100%;
  font-weight: bold;
  width: 23%;
  height: 100%;
}

.equalBox {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 100%;
  font-weight: bold;
  width: 10%;
  height: 15%;
}

.correctBox {
   background-color: green;
   text-align: center;
   font-size: 100%;
   font-weight: bold;
   width: 10%;
   height: 15%;
 }

.semiCorrectBox {
   background-color: yellow;
   text-align: center;
   font-size: 100%;
   font-weight: bold;
   width: 10%;
   height: 15%;
 }

.incorrectBox {
   background-color: #4b4b4b;
   text-align: center;
   font-size: 100%;
   font-weight: bold;
   width: 10%;
   height: 15%;
 }
